
.CodeMirror {
    border: 1px solid #eee;
    height:100%;
    width:100%
}


/* .CodeMirror-scroll {
  overflow-y: auto;
  overflow-x: auto;
} */

/* Define a gutter style */
.note-gutter { width: 2em; background: cyan; }

